/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import './sass_styles.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

html, body {
    min-height: 100%;
}

html {
    overflow-x: hidden;
    margin-right: calc(100% - 100vw);
}

.footer {
    width: 100%;
    padding: 25px;
    height: 100px;
    margin-top: 40px;
}

#wrapper {
    min-height: calc(100vh - 140px);
}

.navbar {
    box-shadow: 0 1px 8px rgba(100, 0, 0, 0.2);
}

.grey-hover {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    transition: all 200ms ease-out;
}

.grey-hover:hover {
    box-shadow: 0 0 7px rgba(100, 0, 0, 0.3);
}
