<div class="container">
    <h4>Bienvenue sur l'interface de recherche avancée de
        <a class="text-decoration-none" href="http://www.jeuxdemots.org">
            Jeux de mots
        </a>
    </h4>
    <br>
    <app-search></app-search>
    <section class="container col-lg-6 col-sm-8">
        <div class="mx-auto">
            <p class="text-center">
                Rechechez un terme de la langue française pour obtenir des
                informations le concernant
            </p>
        </div>
    </section>
</div>
