.relations-buttons {
    width: 100%;
}

label > input[type=radio] {
    display: none;
}

.btn-cool-blues {
    background: #007bff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0062E6, #33AEFF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0062E6, #33AEFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.my-custom-class .tooltip-inner {
    background: #007bff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4D5358, #4B5156);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4D5358, #4B5156); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 90%;
}
.my-custom-class .arrow::before {
    border-top-color: #4D5358;
}
