<div class="container-fluid">
    <div class="container">
        <app-search></app-search>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-1 col-lg-2"></div>
        <div class="col-sm-8 col-md-10 col-lg-8">
            <h5 *ngIf="termExists" class="text-center"> Terme : {{ term }} </h5>
            <h5 *ngIf="!termExists" class="text-center"> Le terme {{ term }} n'existe pas dans Jeux de mots </h5>
            <div *ngIf="nbDefinitions > 0" id="definitions" class="container-fluid">
                <br>
                <ul class="list-group list-definitions">
                    <button class="list-group-item d-flex align-items-center btn-cool-blues btn-rounded" type="button" (click)="isListDefinitionsCollapsed = !isListDefinitionsCollapsed">
                        <div class="mr-auto p-2">
                            Définitions
                        </div>
                        <span class="badge badge-primary badge-pill shadow">{{ nbDefinitions }}</span>
                        <span class="badge"><i class="fas" [ngClass]="{'fa-angle-down': isListDefinitionsCollapsed, 'fa-angle-up': !isListDefinitionsCollapsed}"></i></span>
                    </button>
                    <div [ngbCollapse]="isListDefinitionsCollapsed" class="collapse">
                        <li *ngFor="let def of definitions; index as i;"
                        class="list-group-item">
                            <small><b>{{ i + 1 }}.</b> {{ def }}</small>
                        </li>
                    </div>
                </ul>
            </div>
            <div *ngIf="nbRefinements > 0" id="semantic-refinements" class="container-fluid">
                <br>
                <ul class="list-group list-refinements">
                    <button class="list-group-item d-flex align-items-center btn-cool-blues btn-rounded" type="button" (click)="isListRefinementsCollapsed = !isListRefinementsCollapsed">
                        <div class="mr-auto p-2">
                            Raffinements sémantiques
                        </div>
                        <span class="badge badge-primary badge-pill shadow">{{ nbRefinements }}</span>
                        <span class="badge"><i class="fas" [ngClass]="{'fa-angle-down': isListRefinementsCollapsed, 'fa-angle-up': !isListRefinementsCollapsed}"></i></span>
                    </button>
                    <div [ngbCollapse]="isListRefinementsCollapsed" class="collapse">
                        <li *ngFor="let ref of semanticRefinements"
                            class="list-group-item">
                            <small>
                                <a [routerLink]="['/term-detail',ref.value]" (click)="onResearch(ref.value)" style="color:black;"><b>{{ ref.value }}</b></a>
                            </small>
                        </li>
                    </div>
                </ul>
            </div>
            <br>
            <div *ngIf="availableRelationships.length > 0" class="container-fluid">
                <ul class="list-group list-relationships">
                    <button class="list-group-item d-flex align-items-center btn-cool-blues btn-rounded" type="button" (click)="isListRelationshipsCollapsed = !isListRelationshipsCollapsed">
                        <div class="mr-auto p-2">
                            Types de relations
                        </div>
                        <span class="badge badge-primary badge-pill shadow">{{ availableRelationships.length }}</span>
                        <span class="badge"><i class="fas" [ngClass]="{'fa-angle-down': isListRelationshipsCollapsed, 'fa-angle-up': !isListRelationshipsCollapsed}"></i></span>
                    </button>
                    <div [ngbCollapse]="isListRelationshipsCollapsed" class="collapse">
                        <li class="list-group-item">
                            <div class="btn-group row d-flex justify-content-between" ngbRadioGroup name="radioListRelationships" data-toggle="buttons" [(ngModel)]="first">
                                <div *ngFor="let key of availableRelationships ; first as isFirst">
                                    <label ngbButtonLabel class="btn-sm btn-outline-info col" ngbTooltip="{{ relationshipsNames[key].desc }}" tooltipClass="my-custom-class" (click)="showRelation(key, $event)">
                                          <input ngbButton type="radio" [value]="key"> {{ relationshipsNames[key].name }}
                                    </label>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="row row-cols-2">
                        <div *ngIf="nbTerms > 0" class="col">
                            <div class="container">
                                <ul class="list-group list-outgoingRelationships">
                                    <button class="list-group-item d-flex align-items-center btn-cool-blues btn-rounded" type="button" (click)="isListOutgoingRelationshipsCollapsed = !isListOutgoingRelationshipsCollapsed">
                                        <div class="mr-auto p-2">
                                            Termes (relations sortantes)
                                        </div>
                                        <span class="badge badge-primary badge-pill shadow">{{ nbTerms }}</span>
                                        <span class="badge"><i class="fas" [ngClass]="{'fa-angle-down': isListOutgoingRelationshipsCollapsed, 'fa-angle-up': !isListOutgoingRelationshipsCollapsed}"></i></span>

                                    </button>
                                    <div [ngbCollapse]="isListOutgoingRelationshipsCollapsed" class="collapse container">
                                        <br>
                                        <div class="terms">
                                            <div class="btn-group btn-block" ngbRadioGroup name="radioTriRelationsSortantes" data-toggle="buttons">
                                                <label ngbButtonLabel class="btn-outline-primary">
                                                    <input ngbButton type="radio" (click)="sortByWeight()" [value]="1"> Tri par poids
                                                </label>
                                                <label ngbButtonLabel class="btn-outline-primary">
                                                    <input ngbButton type="radio" (click)="sortAlphabetically()" [value]="2"> Tri alphabétique
                                                </label>
                                            </div>
                                            <br>
                                            <br>
                                            <table class="table table-striped table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col-8-sm">Terme</th>
                                                        <th scope="col-2-sm">Poids</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let term of associatedTerms | slice: (pageOutRels-1)
                                                    * pageOutRelsSize : (pageOutRels-1) * pageOutRelsSize + pageOutRelsSize">
                                                        <td><small>
                                                            <div *ngIf="term.value.includes('='); else other;">
                                                                <a [routerLink]="['/term-detail',term.value]" (click)="onResearch(term.value)" style="color:black;">{{ term.value.split('=')[1] }}</a>&nbsp;&#160;
                                                                <img src="../../../assets/images/english.png" width="30" height="30" class="d-inline-block rounded" alt="Mot en anglais">
                                                                <a *ngIf="term.relationId == 777" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/{{ term.value }}split('=')[1]" style="color:black;">
                                                                    <i class="fab fa-wikipedia-w"></i>
                                                                </a>
                                                            </div>
                                                            <ng-template #other>
                                                                <a [routerLink]="['/term-detail',term.value]" (click)="onResearch(term.value)" style="color:black;">{{ term.value }}</a>&nbsp;&#160;
                                                                <a *ngIf="term.relationId == 777" target="_blank" rel="noopener noreferrer" href="https://fr.wikipedia.org/wiki/{{ term.value }}" style="color:black;">
                                                                    <i class="fab fa-wikipedia-w"></i>
                                                                </a>
                                                            </ng-template>
                                                        </small></td>
                                                        <td><small>{{ term.weight }}</small></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="d-flex flex-wrap justify-content-between p-2">
                                                <ngb-pagination
                                                    [(page)]="pageOutRels"
                                                    [rotate]="true"
                                                    [maxSize]="5"
                                                    [boundaryLinks]="true"
                                                    size="sm"
                                                    [pageSize]="pageOutRelsSize"
                                                    [collectionSize]="associatedTerms.length">
                                                </ngb-pagination>
                                                <select [(ngModel)]="pageOutRelsSize"
                                                    style="width: auto"
                                                    id="inputNbTerms"
                                                    class="custom-select custom-select-sm">
                                                    <option [ngValue]="25">25 termes par page</option>
                                                    <option [ngValue]="50">50 termes par page</option>
                                                    <option [ngValue]="100">100 termes par page</option>
                                                    <option [ngValue]="200">200 termes par page</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <br><br><br>
                        <div *ngIf="nbIncTerms > 0" class="col">
                            <div class="container">
                                <ul class="list-group list-incomingRelationships">
                                    <button class="list-group-item d-flex align-items-center btn-cool-blues" type="button" (click)="isListIncomingRelationshipsCollapsed = !isListIncomingRelationshipsCollapsed">
                                        <div class="mr-auto p-2">
                                            Termes (relations entrantes)
                                        </div>
                                        <span class="badge badge-primary badge-pill shadow">{{ nbIncTerms }}</span>
                                        <span class="badge"><i class="fas" [ngClass]="{'fa-angle-down': isListIncomingRelationshipsCollapsed, 'fa-angle-up': !isListIncomingRelationshipsCollapsed}"></i></span>
                                    </button>
                                    <div [ngbCollapse]="isListIncomingRelationshipsCollapsed" class="collapse container">
                                        <br>
                                        <div class="terms">
                                            <div class="btn-group btn-block" ngbRadioGroup name="radioTriRelationsEntrantes" data-toggle="buttons">
                                                <label ngbButtonLabel class="btn-outline-primary">
                                                  <input ngbButton type="radio" (click)="sortByWeightIncomingTerms()" [value]="1"> Tri par poids
                                                </label>
                                                <label ngbButtonLabel class="btn-outline-primary">
                                                  <input ngbButton type="radio" (click)="sortAlphabeticallyIncomingTerms()" [value]="2"> Tri alphabétique
                                                </label>
                                            </div>
                                            <br>
                                            <br>
                                            <table class="table table-striped table-sm">
                                                <thead>
                                                    <tr>
                                                        <th scope="col-8-sm">Terme</th>
                                                        <th scope="col-2-sm">Poids</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let term of incomingTerms | slice: (pageIncRels-1)
                                                    * pageIncRelsSize : (pageIncRels-1) * pageIncRelsSize + pageIncRelsSize">
                                                        <td><small>
                                                            <div *ngIf="term.value.includes('='); else other;">
                                                                <a [routerLink]="['/term-detail',term.value]" (click)="onResearch(term.value)" style="color:black;">{{ term.value.split('=')[1] }}</a>&nbsp;&#160;
                                                                <img src="../../../assets/images/english.png" width="30" height="30" class="d-inline-block rounded" alt="Mot en anglais">
                                                                <a *ngIf="term.relationId == 777" target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/{{ term.value }}split('=')[1]" style="color:black;">
                                                                    <i class="fab fa-wikipedia-w"></i>
                                                                </a>
                                                            </div>
                                                            <ng-template #other>
                                                                <a [routerLink]="['/term-detail',term.value]" (click)="onResearch(term.value)" style="color:black;">{{ term.value }}</a>&nbsp;&#160;
                                                                <a *ngIf="term.relationId == 777" target="_blank" rel="noopener noreferrer" href="https://fr.wikipedia.org/wiki/{{ term.value }}" style="color:black;">
                                                                    <i class="fab fa-wikipedia-w"></i>
                                                                </a>
                                                            </ng-template>
                                                        </small></td>
                                                        <td><small>{{ term.weight }}</small></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="d-flex flex-wrap justify-content-between p-2">
                                                <ngb-pagination
                                                    [(page)]="pageIncRels"
                                                    [rotate]="true"
                                                    [maxSize]="5"
                                                    [boundaryLinks]="true"
                                                    size="sm"
                                                    [pageSize]="pageIncRelsSize"
                                                    [collectionSize]="incomingTerms.length">
                                                </ngb-pagination>
                                                <select [(ngModel)]="pageIncRelsSize"
                                                    style="width: auto"
                                                    id="inputNbIncTerms"
                                                    class="d-flex flex-wrap custom-select custom-select-sm">
                                                    <option [ngValue]="25">25 termes par page</option>
                                                    <option [ngValue]="50">50 termes par page</option>
                                                    <option [ngValue]="100">100 termes par page</option>
                                                    <option [ngValue]="200">200 termes par page</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
