<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-1 col-lg-2">

        </div>
        <div class="col-sm-8 col-md-10 col-lg-8">
            <div *ngIf="(searchHistory | json) != '{}'">
                <div class="container">
                    <button type="button" name="button" class="btn btn-block btn-sm grey-hover btn-secondary rounded rounded-pill"
                        (click)="goBack()">
                        Retour à la recherche
                    </button>
                    <button type="button" name="button" class="btn btn-block btn-sm btn-danger grey-hover rounded rounded-pill" (click)="clearHistory()">
                        Supprimer l'historique
                    </button>
                </div>
                <br>
                <div *ngFor="let date of searchHistory | keyvalue" class="container">
                    <ul class="list-group list-definitions">
                        <li class="list-group-item d-flex justify-content-between align-items-center active list-group-item-primary">
                            Le {{ date.key }}
                        </li>
                        <li *ngFor="let search of date.value"
                        class="list-group-item">
                            <small><b>{{ search.term }}</b> à {{ search.time }}</small>
                        </li>
                    </ul>
                    <br>
                </div>
            </div>
             <div *ngIf="(searchHistory | json) == '{}'" class="container">
                 <p>Votre historique de recherche est vide.</p>
                 <button type="button" name="button" class="btn grey-hover btn-secondary"
                 (click)="goToHome()">
                     Retour à la recherche
                 </button>
             </div>
        </div>
    </div>
</div>
