<div class="search-form container col-lg-8 col-sm-8 mx-auto">
    <form (ngSubmit)="onSubmit()">
        <ng-template #content let-modal>
            <div class="modal-header">
                <h5 class="modal-title text-center" id="modal-basic-title">Sélectionnez un type de relation</h5>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group p-1 bg-light">
                    <label for="relationship-types">Type de relation </label>
                    <div class="input-group">
                        <select class="custom-select rounded rounded-pill bg-light shadow-sm"
                            (change)="setRelType($event.target.value)" id="relationship-types"
                        >
                            <option value="-1">Choisissez</option>
                            <option *ngFor="let rel of relationshipsNames | keyvalue" value="{{rel.key}}">{{rel.value.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-dark rounded rounded-pill grey-hover"
                    (click)="modal.close('Save click')"
                >
                    Valider
                </button>
            </div> -->
        </ng-template>
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button id="rel-types-button" type="button" (click)="open(content)" class="btn btn-link text-primary">
                        <i class="fa fa-plus-circle"></i>
                    </button>
                </div>
                <input type="search"
                    placeholder="Saisissez un terme"
                    aria-describedby="button-addon1"
                    id="term-input"
                    list="suggestionsIds"
                    [formControl]="termControl"
                    class="form-control border-0 bg-light"
                    required>
                <datalist id="suggestionsIds">
                    <option *ngFor="let suggestion of suggestions" >
                        {{suggestion}}
                    </option>
                </datalist>
                <div class="input-group-append">
                    <button id="button-addon1" type="submit" class="btn btn-link text-primary">
                        <span *ngIf="isSpinnerVisible"
                            class="spinner-grow spinner-grow-sm"
                            role="status" aria-hidden="true">
                        </span><i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<br>
