<app-storage-banner *ngIf="!storageAgreement"></app-storage-banner>

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../../assets/images/JDM.png"
             width="40"
             height="40"
             class="d-inline-block align-top rounded"
             alt="Jeux de mots"
        >
        Le Diko
    </a>
    <form class="form-inline my-lg-0">
        <button class="btn btn-sm btn-outline-dark rounded rounded-pill grey-hover" type="button"
            (click)="searchHistory()"
        >
            Historique
        </button>
    </form>
</nav>
<br>
