<div id="wrapper" class="page-content">
    <header>
        <app-header></app-header>
    </header>
    <router-outlet class="content"></router-outlet>
</div>
<footer class="footer text-white bg-gradient-dark py-4">
    <app-footer></app-footer>
</footer>
