#storage-banner {
    width: auto;
    background: #7F7FFF;
    margin-top: 0px;
}

#storage-banner p {
    padding : 10px;
    font-size : 1em;
    font-weight : bold;
    text-align : center;
    color : white;
}

#close-storage-banner {
    text-align : right;
}

#close-storage-banner:hover {
    cursor: pointer;
}
