<div id="storage-banner" class="fixed-top">
    <p>
        Ce site web enregistre des informations lors de votre navigation pour
        vous offrir une meilleure expérience.
        En poursuivant votre navigation, vous acceptez leur utilisation.
        <button type="button" class="close" aria-label="Close">
            <span id="close-storage-banner" (click)="removeBanner();">
                &times;
            </span>
        </button>
    </p>
</div>
